p {
    font-family: Arial, Helvetica, sans-serif; /* Set a font */
    font-size: 16px; /* Set a font size */
    color: #333; /* Set a text color */
    text-align: justify; /* Align the text */
    margin: 10px; /* Add some space around the text */
  }

  p:hover {
    font-family: Arial, Helvetica, sans-serif; /* Set a font */
    font-size: 26px; /* Set a font size */
    color: blue; /* Set a text color */
    text-align: justify; /* Align the text */
    margin: 10px; /* Add some space around the text */
  }

  img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px; /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
  }
  
  /* Add a hover effect (blue shadow) */
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }